/el-get
/eln-cache
/elpa
/3rd-party/
/auto-save-list/
/emojis/
/ielm-history.eld
/places
/recentf
/request/
*~
/.cache/
/.dap-breakpoints
/.lsp-session-v1
/projectile*
/transient/
/url/
*.elc
/company-statistics-cache.el
/elpa-*/
/emaxx-custom.el
/tramp
/after-init.el
/before-init.el
